body {
    font-family:  sans-serif,Arial,Helvetica;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.header {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    margin: 0;
    margin-top: 0px;

}

.H1 {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    
}
.header_logo {
    font-size: 48px;
    color: #F9FAF8;
    margin-right: auto;
    font-weight: 900;
    padding-top: 8px;
    
}


.H1_2 {
    display: flex;
align-items: center;
gap: 32px;

}
.htitle1 {

    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    width: 400px;
    margin-bottom: 0;


}

.htext {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 100px;

}
.htext1 {
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
margin: 0;   

}
img.Mecca {
    font-size: 18px;
    color: #E5E7EB;
    width: 300px;
    padding-right: 150px;
    flex: 1;
   

}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;

}

li {
    margin: 0;
    padding: 0;

}
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;

}
.sign1{
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    padding: 8px 16px;
}
/*MAIN 1 STYLE*/

.main1{
    background: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}

.infos{
    
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

}

.main1 img {
width: 200px;
height: 150px;
border: 3px solid #3882F6;
border-radius: 7px;
}

.main1 .text {
    width: 150px;
    text-align: center;
}
.container1 {
    display: flex;
  justify-content: center;
  gap: 52px;
}
.groupe.img {
    max-width: 300px;
}

.main2{
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    height: 360px;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 4px;
    

}
.verse {
    font-size: 36px;
font-style: italic;    
color: #24292f;
width: 600px;
margin-bottom: 0;

}
.quote {
    width: 600px;
text-align: right;
color: #0a1018;
font-weight: bold;
font-size: 24px;
}